<!DOCTYPE html>
<html>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
    <table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Recurrence Type</th>
        </tr>
    </thead>
<tbody>
    <tr *ngFor="let item of creditItems">
        <td>{{ item.amount | currency }}</td>
        <td>{{ item.recurrenceType }}</td><br>
        <td><button class="btn-remove btn btn-danger" (click)="removeCredit(item.id)">Remove</button></td>
      </tr>
</tbody>
    </table>
</div>

</body>
</html>
